//impor font khusus
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

// Kelas front khusus halaman depan
.navigasi {
    background : none;
    margin: 0;
    padding: 0;
    a.navbar-brand{
        color: white;
        font-family: 'Permanent Marker', cursive;
        font-size: 2em;
        margin: 0%;
        padding: 0 2%;
    }
    div{
        ul {
            li {
                a {
                    color: white;
                }
            }
        }
        div{
            padding : 0 2%;
            div{
                a.btn{
                    color: white;
                    text-transform: uppercase;
                    box-shadow: 0 5px 0 $indigo;
                    #khusus {
                        border-left: 1px solid #ffe
                    }
                }
            }
        }
    }
}

header {
    margin: 0;
    padding: 0;
}

.slet{
    margin-top: -75px;
    background: url('/storage/image/mackbook.jpg');
    height: 564px;
    background-size: cover;
    background-repeat: no-repeat;
    display : flex;
    h1{
        margin: auto;
        color: white;
    }
}

main{
    margin: 0;
    padding: 0;
}