// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Laman depan
@import 'lamanDepan';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//Bagi front end, bikin css disini, sintaksnya sama aja kek css, yg diatas jangan edit ya :D
// Style Login
body{
  box-sizing: border-box;
  overflow: hidden;
}
.img{
  position: absolute;
  float: left;
}
.img img{
  width: 1366px;
  height: 657px;
}
.sidebar{
  background-color: aliceblue;
  opacity: 0.9;
  width: 331px;
  height: 657px;
  padding: 10px;
  text-align: center;
  position: relative;
  left: 1035px;
  border-left: 1px solid grey;
}
.sidebar .topbar{ 
  padding: 5px;
  border-bottom: 1px solid lightgrey;
}
.sidebar input{
  padding: 4px;
  width: 300px;
}
.sidebar .check{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.sosmed{
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid lightgrey;
}
.sosmed img{
  height: 50px;
  border-radius: 3px;
}