
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//Bagi front end, bikin css disini, sintaksnya sama aja kek css, yg diatas jangan edit ya :D
// Style Login

form{
  position: absolute;
  top: 110px;
  left: 430px;
  width: 30%;
  height: 200;
  border: 1px solid black;
  border-radius: 10px;
}
.tabel{
  margin: 15px;
}
.topbar{
  border-radius: 10px 10px 0px 0px;
  font-size: 25px;
  text-align: center;
  position: static;
  background-color: black;
  color: white;
}
.registered p{
  position: absolute;
  top: 440px;
  left: 540px;
}

